<% provide(:title, "FAQ") %>
<canvas id="gradient-canvas-bottom" height="900">
</canvas>
<%= render 'layouts/navbar' %>
<div class="faq">
  <h1>FAQ</h1>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q1' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a1' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q2' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a2' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q3' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a3' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q4' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a4' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q5' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a5' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q6' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a6' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q7' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a7' %>
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header"><%= t 'faq.q8' %></div>
    <div class="accordion-content ">
      <p>
        <%= t 'faq.a8' %>
      </p>
    </div>
  </div>
</div>
<script>
      // FONCTION ACCORDEON FAQ
  const accordionItem = document.querySelectorAll('.accordion-item');

  accordionItem.forEach(item => {
    const header = item.querySelector(".accordion-header");
    header.addEventListener('click', () => {
      // Vérifier si l'élément actuellement cliqué est actif
      const isActive = item.classList.contains('active');
  
      // Retirer la classe 'active' de tous les éléments
      accordionItem.forEach(otherItem => {
        otherItem.classList.remove('active');
      });
  
      // Si l'élément cliqué n'était pas actif, l'activer
      if (!isActive) {
        item.classList.add('active');
      }
    });
  });
    // Sélectionnez l'élément canvas et l'élément faq
  const canvas = document.getElementById('gradient-canvas-bottom');
  const faq = document.querySelector('.faq');
  const faqStyle = window.getComputedStyle(faq);
  const navbar = document.querySelector('.navbar');

  // Convertissez la marge inférieure en valeur numérique
  const faqMarginBottom = parseInt(faqStyle.marginBottom);

  // Créez une fonction pour mettre à jour la hauteur du canvas
  const updateCanvasHeight = () => {
    // Ajoutez la hauteur de faq et sa marge inférieure
    const totalHeight = faq.offsetHeight + faqMarginBottom + navbar.offsetHeight + 10 ;
    canvas.style.height = `${totalHeight}px`;
  };

  // Créez un ResizeObserver pour surveiller les changements de taille de l'élément faq
  const resizeObserver = new ResizeObserver(entries => {
    for (let entry of entries) {
      // Mise à jour de la hauteur du canvas à chaque changement de taille
      updateCanvasHeight();
    }
  });

  // Commencez à observer l'élément faq
  resizeObserver.observe(faq);

  // Mise à jour initiale de la hauteur du canvas
  updateCanvasHeight();
</script>
