<% provide(:title, "Portfolio") %>
<canvas id="gradient-canvas-portfolio">
</canvas>
<%= render 'layouts/navbar' %>
<div class="portfolio-container">
  <div class="thumb-col">
    <div class="thumb thumb-active" id="thumb-1" >
      <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Festival Esther et Selma Screenshot' %>
    </div>
    <div class="thumb" id="thumb-2">
      <%= image_tag 'screenshot-3golfs.png', class: 'thumb-portfolio', alt: 'Website Les 3 golfs Screenshot' %>
    </div>
    <div class="thumb" id="thumb-3">
      <%= image_tag 'screenshot-360.png', class: 'thumb-portfolio', alt: 'Website 360 restaurant Screenshot' %>
    </div>
    <div class="thumb" id="thumb-4">
      <%= image_tag 'screenshot-hellodarb.png', class: 'thumb-portfolio', alt: 'Website hellodarb Screenshot' %>
    </div>
    <div class="thumb" id="thumb-5">
      <%= image_tag 'screenshot-talata.png', class: 'thumb-portfolio', alt: 'Website Talata Screenshot' %>
    </div>
    <div class="thumb" id="thumb-6">
      <%= image_tag 'screenshot-teleport.png', class: 'thumb-portfolio', alt: 'Website teleport Screenshot' %>
    </div>
  </div>
  <div class="center">
    <div class="main-image main-active" id="main-image-1">
      <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="main-image" id="main-image-2">
      <%= image_tag 'screenshot-3golfs.png', class: 'center-portfolio', alt: 'Website Les 3 golfs' %>
    </div>
    <div class="main-image" id="main-image-3">
      <%= image_tag 'screenshot-360.png', class: 'center-portfolio', alt: 'Website 360 restaurant Screenshot' %>
    </div>
    <div class="main-image" id="main-image-4">
      <%= image_tag 'screenshot-hellodarb.png', class: 'center-portfolio', alt: 'Website hellodarb Screenshot' %>
    </div>
    <div class="main-image" id="main-image-5">
      <%= image_tag 'screenshot-talata.png', class: 'center-portfolio', alt: 'Website Talata Screenshot' %>
    </div>
    <div class="main-image" id="main-image-6">
      <%= image_tag 'screenshot-teleport.png', class: 'center-portfolio', alt: 'Website teleport Screenshot' %>
    </div>
  </div>
  <div class="right-col">
    <div class="portfolio-text portfolio-text-active" id= "portfolio-text-1">
      <h3>
        Festival Esther et Selma
      </h3>
      <p>Web Development of a website for a movie festival in Essaouira - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-2">
      <h3>
        Les Trois Golfs Bouskoura
      </h3>
      <p>Design, Web development with mailer of a website for a residencial project in Bouskoura - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-3">
      <h3>Restaurant le 360</h3>
      <p>Web development and design of a website for a restaurant in Casablanca - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-4">
      <h3>Hellodarb.com</h3>
      <p>Web development and design of an online marketplace in Dar Bouazza - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-5">
      <h3>Talata.io</h3>
      <p>Web development and design for a 3D printing center in Casablanca - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-6">
      <h3>Tel3port.com</h3>
      <p>Web development and design for a 3D printing marketplace linked to a printer network worldwide - Morocco</p>
    </div>
  </div>
</div>
<script>
  //   // CODE POUR PORTFOLIO 
  // let thumbs = document.querySelectorAll('[id^="thumb-"]');
  // let mains = document.querySelectorAll('[id^="main-image-"]');
  // let texts = document.querySelectorAll('[id^="portfolio-text-"]');
  
  // console.log('Thumbs:', thumbs);
  // console.log('Mains:', mains);
  
  // thumbs.forEach(function(thumb, index) {
  //   thumb.addEventListener('click', function() {
  //     console.log('Thumb cliqué :', index);
  
  //     // Retirez la classe "thumb-active" de tous les thumbs
  //     thumbs.forEach(function(t) {
  //       t.classList.remove('thumb-active');
  //     });
  
  //     // Ajoutez la classe "thumb-active" à l'élément cliqué
  //     thumb.classList.add('thumb-active');
  
  //     // Retirez la classe "main-active" de tous les contenus
  //     mains.forEach(function(main) {
  //       main.classList.remove('main-active');
  //     });
  
  //     // Ajoutez la classe "main-active" à l'élément correspondant
  //     if (mains[index]) {
  //       mains[index].classList.add('main-active');
  //       console.log('Main activé :', mains[index]);
  //     }
  //     texts.forEach(function(text) {
  //       text.classList.remove('portfolio-text-active');
  //     });

  //     if (texts[index]) {
  //       texts[index].classList.add('portfolio-text-active');
  //     }
  //   });
  // });
</script>