<canvas id="gradient-canvas-portfolio">
</canvas>
<%= render 'layouts/navbar' %>
<div class="portfolio-container">
  <div class="thumb-col">
    <div class="thumb thumb-1">
      <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="thumb thumb-2">
      <%= image_tag 'Capture zizi.png', class: 'thumb-portfolio', alt: 'Website Zizi' %>
    </div>
    <div class="thumb thumb-3">
      <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Screenshot' %>
    </div>
  </div>
  <div class="center">
    <div class="main-image main-image-1">
      <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="main-image main-image-2">
      <%= image_tag 'Capture zizi.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="main-image main-image-3">
      <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
  </div>
  <div class="right-col">
    
  </div>
</div>
