<canvas id="gradient-canvas-portfolio">
</canvas>
<%= render 'layouts/navbar' %>
<div class="portfolio-container">
  <div class="thumb-col">
    <div class="thumb thumb-active" id="thumb-1" >
      <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="thumb" id="thumb-2">
      <%= image_tag 'Capture zizi.png', class: 'thumb-portfolio', alt: 'Website Zizi' %>
    </div>
    <div class="thumb" id="thumb-3">
      <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Screenshot' %>
    </div>
  </div>
  <div class="center">
    <div class="main-image main-active" id="main-image-1">
      <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="main-image" id="main-image-2">
      <%= image_tag 'Capture zizi.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
    <div class="main-image" id="main-image-3">
      <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
    </div>
  </div>
  <div class="right-col">
    <div class="portfolio-text portfolio-text-active" id= "portfolio-text-1">
      <h3>
        Festival Esther et Selma
      </h3>
      <p>Web Development of a website for a movie festival in Essaouira - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-2">
      <h3>
        Zizi Dental Clinic
      </h3>
      <p>Web Development and design of a website for a dental clinic in Casablanca - Morocco</p>
    </div>
    <div class="portfolio-text" id= "portfolio-text-3">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis tempora aliquid accusamus quidem deleniti!</p>
    </div>
  </div>
</div>
