<% provide(:title, "Get a quote") %>
<canvas id="gradient-canvas-quote">
</canvas>
<%= render 'layouts/navbar' %>
<div class="header-quote">
  <h1>
    <%= t 'quote.title_html' %>
  </h1>
  <div class="quote-svg-container">
    <%# <%= image_tag "quote-hero-image.svg", class: "quote-svg" %> 
  </div>
</div>
<div class="choice-container">
  <%= link_to contact_path, class:"choice" do %>
    <%= image_tag 'custom-web-dev.svg', class: "choice-svg" %>
    <h2>
      <%= t 'quote.subtitle1_html' %>
    </h2>
  <% end %>
  <%= link_to contact_path, class:"choice" do %>
    <%= image_tag 'vitrine-web-dev.svg', class: "choice-svg" %>
    <h2>
      <%= t 'quote.subtitle2_html' %>
    </h2>
  <% end %>
  <%= link_to contact_path, class:"choice" do %>
    <%= image_tag 'ecommerce-web-dev.svg', class: "choice-svg" %>
    <h2>
      <%= t 'quote.subtitle3_html' %>
    </h2>
  <% end %>

  <%= link_to contact_path, class:"choice" do %>
  <%# <div class="choice"> %>
    <%= image_tag 'webdesign.svg', class: "choice-svg", id: "webdesign" %> 
    <h2><%= t 'quote.subtitle4_html' %></h2>
  <%# </div> %>
  <% end %>

</div>