
<footer>
<%# <canvas id="gradient-canvas-footer">
</canvas> %>
  <div class="footer-wrapper">
    <div class="footer-logo-wrapper">
      <%= link_to root_path do %><%= image_tag "Koun-logo.svg", class: "footer-logo", alt: "Logo koun.online" %> <% end %>
    </div>
    <div class="footer-links">
      <div class="footer-row-mobile">
        <div class="link-col"><ul><li><%= link_to 'Portfolio', portfolio_path %></li></ul></div>
        <div class="link-col"><ul><li><%= link_to 'Technologies', root_path(anchor: 'technology-id') %></li></ul></div>
      </div>
      <div class="footer-row-mobile">
        <div class="link-col"><ul><li><%= link_to t("global.menu.about") ,about_us_path %></li></ul></div>
        <div class="link-col">
          <ul>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to contact_path do %> Contact <% end %></li>
          </ul>
          <div class="socials">
            <%= link_to(image_tag("instagram-icon.svg", alt: "Instagram", class: "social-icon"), "https://www.instagram.com/koun.online?igshid=YzAwZjE1ZTI0Zg==", target: "_blank") %>
            <%= link_to image_tag("whatsapp-icon.svg", alt: "WhatsApp", class:"social-icon"), 'https://wa.me/212620302294', target: '_blank' %>

          </div>
        </div>
      </div>


    </div>
    <div class="footer-bottom">
      <div class="mobile-bottom-row">
        <div class="bottom-col" id="footer-infos">
          <ul>
            <li><%= link_to "contact@koun.online", "mailto:contact@koun.online" %></li>
            <li><%= link_to "+212 620 30 22 94", "tel:+212620302294" %></li>
          </ul>
        </div>
      </div>
      <div class="mobile-bottom-row">
        <div class="bottom-col">
          <ul>
            <li>Boulevard Ghandi, 108</li>
            <li>Casablanca -Maroc</li>
          </ul>
        </div>
        <div class="bottom-col">

        </div>
        <div class="bottom-col">
          © <%= Time.now.year %> KETEBECE SARL
        </div>
      </div>
    </div>
  </div>
</footer>
