
<footer>
<%# <canvas id="gradient-canvas-footer">
</canvas> %>
  <div class="footer-wrapper">
    <div class="footer-logo-wrapper">
      <%= link_to root_path do %><%= image_tag "Koun-logo.svg", class: "footer-logo", alt: "Logo koun.online" %> <% end %>
    </div>
    <div class="footer-links">
    <%# <div class="footer-left"> %>
      <div class="link-col"><ul><li><%= link_to 'Portfolio', portfolio_path %></li></ul></div>
      <div class="link-col"><ul><li><%= link_to 'Technologies', root_path(anchor: 'technology-id') %></li></ul></div>
      <div class="link-col"><ul><li><%= link_to 'About Us', about_path %></li></ul></div>
      <div class="link-col">
        <ul>
          <li>FAQ</li>
          <li><%= link_to quote_step1_path do %> Contact <% end %></li>
        </ul>
        <div class="socials">
          
        </div>
      </div>

    <%# </div> %>
    </div>
    <div class="footer-bottom">
      <div class="bottom-col">
        <ul>
          <li>contact@koun.online</li>
          <li>+212 620 30 22 94</li>
        </ul>
      </div>
      <div class="bottom-col">
        <ul>
          <li>Boulevard ghandi, 108</li>
          <li>Casablanca -Maroc</li>
        </ul>
      </div>
      <div class="bottom-col">

      </div>
      <div class="bottom-col">
        © 2023 KETEBECE SARL
      </div>
    </div>
  </div>
</footer>