<div class="navbar">
    <div class="header-logo">
        <%= link_to root_path do %> <%= image_tag 'Koun-logo.svg', class: 'logo', alt: 'logo KOUN Website' %> <% end %>
    </div>
    <div class="menu-container">
        <button class="menu-toggle"><%= image_tag 'menu.svg', class: 'menu-svg'%></button> <!-- Button for toggling menu -->
        <div class="menu">
            <ul>
                <li><%= link_to "Portfolio", portfolio_path%></li>
                <li><%= link_to 'Technologies', root_path(anchor: 'technology-id') %></li>
                <li><%= link_to about_path do %>About Us<% end %></li>
                <li class="quote-button"><%= link_to quote_step1_path do %> Get a quote <% end %> </li>
            </ul>
        </div>
    </div>
</div>
<div class="line"></div>
