<div class="navbar">
    <div class="nav-logo">
        <%= link_to root_path do %>
            <%= image_tag 'Koun-logo.svg', alt: 'logo KOUN Website' %>
        <% end %>
    </div>
    <div class="menu-container">
        <button class="menu-toggle">
            <%= image_tag 'menu.svg', class: 'menu-svg' %>
        </button>
        <div class="menu">
            <ul>
                <li><%= link_to "Portfolio", portfolio_path %></li>
                <li><%= link_to "About Us", about_path %></li>
                <li class="quote-button"><%= link_to "Request a quote", quote_step1_path %></li>
            </ul>
        </div>
    </div>
</div>
<div class="line"></div>
