<div class="navbar">
    <div class="nav-logo">
        <%= link_to root_path do %>
            <%= image_tag 'Koun-logo.svg', alt: 'logo KOUN Website' %>
        <% end %>
    </div>
    <div class="menu-container">
        <button class="menu-toggle">
            <%= image_tag 'menu.svg', class: 'menu-svg' %>
        </button>
        <div class="menu">
            <%= link_to root_path do %><%= image_tag 'Koun-logo.svg', class: 'logo mobileShow', alt: 'logo KOUN Website' %><%end%>
            <ul>
                <li><%= link_to "Portfolio", portfolio_path%></li>
                <li><%= link_to 'Technologies', root_path(anchor: 'technology-id') %></li>
                <li><%= link_to t("global.menu.about") ,about_path %></li>
                <li><%= link_to "FAQ", faq_path%></li>
                <li class="mobileShow" style="justify-content: center;"><%= link_to "Contact", contact_path%></li>

                <% I18n.available_locales.each do |locale| %>
                    <li>
                        <% if I18n.locale == locale %>
                            <%= image_tag "#{locale}.svg", class: "lang-icon mobileHide", alt: t(locale, scope: 'locales') %>
                        <% else %>
                            <%= link_to image_tag("#{locale}.svg", class: "lang-icon mobileHide", alt: t(locale, scope: 'locales')), url_for(locale: locale) %>
                        <% end %>
                    </li>
                <% end %>
                <li class="quote-button"><%= link_to quote_step1_path do %> <%= t 'global.quote' %> <% end %> </li>
            </ul>
            <div class="mobileShow lang-list">
                <% I18n.available_locales.each do |locale| %>
                    <li>
                        <% if I18n.locale == locale %>
                            <%= image_tag "#{locale}.svg", class: "lang-icon-mobile", alt: t(locale, scope: 'locales') %>
                        <% else %>
                            <%= link_to image_tag("#{locale}.svg", class: "lang-icon-mobile", alt: t(locale, scope: 'locales')), url_for(locale: locale) %>
                        <% end %>
                    </li>
                <% end %>
            </div>
            <div class="menu-socials mobileShow">
                <%= t 'global.menu.follow' %>  <%= link_to(image_tag("instagram-icon.svg", alt: "Instagram", class: "social-icon"), "https://www.instagram.com/koun.online?igshid=YzAwZjE1ZTI0Zg==", target: "_blank") %>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
