<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-visit-control" content="reload">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', as: 'style'%>


    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <div class="get-quote-mobile">
     <%= link_to quote_step1_path do %> Request a quote <% end %>
    </div>
  </body>
</html>
