<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% canonical_url = locale == I18n.default_locale ? root_url : url_for(locale: locale, only_path: false) %>
    <link rel="canonical" href="<%= canonical_url %>">

    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-VFL1H1K7NT"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VFL1H1K7NT');
      </script>
    <%# <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TZ3S3WS5');</script>
    <!-- End Google Tag Manager --> %>
    <%= display_meta_tags site: "KOUN" %>
    <%# <title><%= full_title(yield(:title))</title>%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-visit-control" content="reload">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', as: 'style'%>
    <%# Code pour inclure balises canonicales %>

    <%= javascript_importmap_tags %>
    
    <% I18n.available_locales.each do |locale| %>
      <%= tag :link, rel: "alternate", hreflang: locale.to_s, href: url_for(locale: locale, only_path: false)  %>
    <% end %>


  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZ3S3WS5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <div class="floating-whatsap">
      <%= link_to image_tag("whatsapp-icon.svg", alt: "WhatsApp", class:"social-icon"), 'https://wa.me/212620302294', target: '_blank' %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="get-quote-mobile">
    <%= link_to request_quote_path, class: "cta-link" do %> 
      <%= t 'nav.mobile.quote' %>
      <div class="cta-arrow">
        <%= image_tag 'white-arrow.svg', class:'cta-mobile-arrow', alt: 'white arrow'%> 
     </div>
    <% end %>
    </div>
  </body>
</html>
