<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-visit-control" content="reload">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', as: 'style'%>


    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <%= yield %>
    <div class="floating-whatsap">
      <%= link_to image_tag("whatsapp-icon.svg", alt: "WhatsApp", class:"social-icon"), 'https://wa.me/212620302294', target: '_blank' %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="get-quote-mobile">
    <%= link_to quote_step1_path, class: "cta-link" do %> 
      Request a quote
      <div class="cta-arrow">
        <%= image_tag 'white-arrow.svg', class:'cta-mobile-arrow', alt: 'white arrow'%> 
     </div>
    <% end %>
    </div>
  </body>
</html>
